<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node App</title>
    <link rel="stylesheet" href="assets/style.css" type="text/css">
</head>
<body>
    <p>hello world <%= 9 * 12345678 %></p>
    <form method="POST" action="/person">
        Firstname: <input type="text" id="firstname" name="firstname">
        <br>
        Lastname: <input type="text" id="lastname" name="lastname">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>