<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node App</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>
<body>
    <p>Person: <%= ID %></p>
    <p>Query: <%= Qstr %></p>
</body>
</html> 